.advantages {
  width: 100%;

  margin: 0 auto;
}

.advantages__wrapper {
  position: relative;
  width: 100%;
  height: 818px;

  margin: 0 auto;
  margin-bottom: 25px;

  background-color: @color-gray;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;

    width: 100%;
    height: 95px;

    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: center 0;
  }
}

.advantages__list {
  width: 220px;
  list-style: none;

  margin: 0 auto;
  margin-bottom: 35px;
  padding: 0;
}

.advantages__triangle-bg {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.advantages__item {
  color: @color-blue;
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
}

.advantages__item:first-child {
  margin-bottom: 33px;
}

.advantages__info {
  margin: 0;
  padding: 0;
}

.advantages__add-wrapper {
  display: none;
}

.add__link {
  &:hover {
    color: @color-blue;
  }

  &:active {
    opacity: 0.3;
  }
}

.add {
  display: none;
}

.advantages__mobile-picture {
  display: block;

  width: 160px;
  height: 278px;

  margin: 0 auto;
}

.advantages__tablet-picture {
  display: none;
}

@media (min-width: @tablet-width) {
  .advantages__list-wrapper {
    display: flex;
    justify-content: space-between;

    width: 620px;

    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0 20px;
  }

  .advantages__wrapper::after {
    top: -20px;
  }

  .advantages__item {
    font-size: 40px;
  }

  .advantages__item:first-child {
    margin-bottom: 3px;
  }

  .advantages__item:last-child {
    display: block;
    width: 350px;

    margin: 0 auto;
  }

  .advantages__list {
    width: 100%;

    margin: 0;
  }

  .advantages__triangle-bg {
    display: block;
    position: absolute;

    width: 100%;

    top: 0;
    left: 0;
  }

  .advantages__wrapper {
    height: 486px;

    margin-bottom: 57px;
  }

  .advantages__add-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    width: 620px;
    height: 280px;

    margin: 0 auto;
    margin-bottom: 95px;
    padding: 0 20px;

    background-color: @color-white;
  }

  .advantages__add-clock {
    width: 240px;

    background-image: url("../img/icon-timer.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 240px auto;
  }

  .advantages__add-clock::after {
    display: block;
    position: absolute;
    content: "";
    width: 175px;
    height: 175px;

    top: 54px;
    left: 38px;

    border: 15px solid @color-red;
    border-radius: 50%;
  }

  .add {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;

    margin-top: 4px;
    padding: 0;
    padding-right: 10px;
  }

  .add__description {
    margin-top: 40px;
    margin-bottom: 3px;

    color: @color-black;
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
  }

  .add__info {
    margin-bottom: 10px;
    padding-right: 20px;

    color: @color-blue;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
  }

  .add__info br:first-child {
    display: none;
  }

  .add__link {
    color: @color-red;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    text-decoration: underline;
  }

  .advantages__add-time {
    position: absolute;
    top: 78px;
    left: 89px;

    color: @color-red;
    font-size: 96px;
    font-weight: bold;
    line-height: 149px;
  }

  .advantages__add-picture {
    width: 240px;
    height: 282px;
  }

  .advantages__tablet-picture {
    display: block;
    z-index: 2;
  }

  .advantages__mobile-picture {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    margin-bottom: 131px;
  }

  .advantages__wrapper {
    height: 1035px;

    margin-bottom: 54px;
  }

  .advantages__item {
    font-size: 50px;
    line-height: 60px;
  }

  .advantages__item:last-child {
    width: 420px;
  }

  .add {
    display: block;
    width: 575px;

    margin: 0;
    padding: 0;
  }

  .add__info {
    font-size: 18px;
    line-height: 30px;

    margin-bottom: 30px;
    padding-right: 30px;
  }

  .add__link {
    font-size: 18px;
    line-height: 30px;
  }

  .add__description {
    margin-top: 95px;
    margin-bottom: 25px;
  }

  .add__description br {
    display: none;
  }

  .advantages__add-wrapper {
    width: 940px;
    height: 350px;

    margin: 0 auto;
    margin-bottom: 75px;
    margin-top: -463px;
    padding: 0 10px;
    z-index: 2;

    background-color: inherit;
  }

  .advantages__triangle-bg {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .advantages__tablet-picture {
    display: none;
  }

  .advantages__list {
    width: 960px;

    margin: 0 auto;
  }

  .advantages__list-wrapper {
    width: 960px;

    margin: 0 auto;
    margin-bottom: 70px;
    padding: 0 10px;
  }

  .advantages__add-picture {
    width: 300px;
    height: 350px;

    margin-left: 10px;
  }

  .advantages__add-wrapper::after {
    display: block;
    width: 220px;
    height: 220px;

    top: 71px;
    left: 43px;

    border: 18px solid @color-red;
    border-radius: 50%;
  }

  .advantages__add-time {
    top: 98px;
    left: 93px;

    color: @color-red;
    font-size: 120px;
    font-weight: bold;
    line-height: 186px;
  }

  .add__info br:first-child {
    display: block;
  }

  .add__info br:last-child {
    display: none;
  }

  .advantages__add-clock::after {
    width: 220px;
    height: 220px;

    top: 69px;
    left: 35px;

    border: 15px solid @color-red;
    border-radius: 50%;
  }

  .advantages__add-clock {
    width: 300px;

    background-size: 300px auto;
  }

  .advantages__wrapper::after {
    top: 0;

    height: 135px;

    background-size: cover;
  }
}
