.advantages__list {
  margin-bottom: 50px;
}

.advantages-item {
  color: @color-blue;
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
}

.advantages-info {
  margin: 0;
  padding: 0;
}
