.checkbox__list {
  list-style: none;
  .indent-clear;
}

.checkbox__decription {
  display: block;
  width: 225px;
  margin: 0 auto;
  padding: 0;

  text-align: center;
  color: @color-red;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
}

.checkbox-list__label {
  text-align: center;
  color: @color-blue;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
}
