.page-footer {
  width: 320px;
  margin: 0 auto;

  text-align: center;
}

.page-footer__nav-wrapper {
  display: block;
  position: relative;

  min-height: 600px;

  .indent-clear();

  background-image: url("../img/bg-map-mobile@1x.png");
  background-position: 0 -46px;
  background-repeat: no-repeat;
}

.contacts {
  display: block;

  list-style: none;
  .indent-clear();

  text-align: center;
  position: absolute;
  z-index: 3;

  background-color: @color-white;
}

.contacts__bg-svg {
  display: block;
  position: absolute;
  width: 320px;
  bottom: -47px;
  left: 0;
}

.contacts__map {
  display: none;
}

.contacts__title {
  color: @color-blue;
  font-size: 24px;
  font-weight: lighter;
}

.contacts__info {
  color: @color-blue;
  font-size: 18px;
  font-weight: bold;
}

.contacts__link {
  color: #d22856;
  font-size: 24px;
  font-weight: lighter;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 660px;
  }

  .page-footer__nav-wrapper {
    min-height: 715px;

    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-position: 0 37px;
    background-repeat: no-repeat;

    margin-bottom: 35px;
  }

  .contacts {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contacts__bg-svg {
    display: block;
    position: absolute;
    width: 660px;
    height: 100px;

    bottom: -84px;
    left: 0;
  }

  .contacts__item {
    display: block;

    margin: 20px;
  }

  .contacts__item:nth-child(4) {
    margin: auto;
  }

  .contacts__title {
    display: inline-block;
    width: 100%;
    padding: 0 50px;

    font-size: 40px;
    line-height: 48px;
  }

  .contacts__map {
    display: none;
    width: 100%;
    height: 427px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 1200px;
  }

  .page-footer__nav-wrapper {
    min-height: 790px;

    background-image: url("../img/bg-map-desktop@1x.jpg");
    background-position: 0 65px;
    background-repeat: no-repeat;

    margin-bottom: 35px;
  }

  .contacts__map {
    display: none;
  }

  .contacts__title {
    width: 100%;

    padding: 0 260px;

    font-size: 50px;
    line-height: 60px;
  }

  .contacts {
    justify-content: space-around;
  }

  .contacts__bg-svg {
    display: block;
    position: absolute;
    width: 1200px;
    height: 200px;
    bottom: -162px;
    left: 0;
  }

  .contacts__item {
    margin: 0 95px;
  }

  .contacts__item:nth-child(3) {
    order: 2;
  }

  .contacts__item:nth-child(4) {
    order: 1;
  }
}
