.page-footer {
  text-align: center;
}

.contacts__title {
  color: @color-blue;
  font-size: 24px;
  font-weight: lighter;
}

.contacts__info {
  color: @color-blue;
  font-size: 18px;
  font-weight: bold;
}

.contacts__link {
  color: #d22856;
  font-size: 24px;
  font-weight: lighter;
}
