.copyright__author {
  color: @color-blue;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.copyright-wrapper {
  width: 130px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 130px;

  margin: 0 auto;
}

.copyright__site {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  width: 150px;

  fill: @color-red;

  &:hover {
    fill: @color-blue;
  }

  &:active {
    fill-opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .copyright-wrapper {
    width: 130px;

    margin: 0;
    margin-right: 10px;
  }

  .copyright {
    .indent-clear();
  }
}

@media (min-width: @desktop-width) {
  .copyright-wrapper {
    width: 150px;
  }

  .copyright {
    width: 152px;
  }

  .copyright__author {
    font-size: 18px;
    line-height: 18px;
  }
}
