.copyright__author {
  color: @color-blue;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
}

.copyright__wrapper {
  width: 150px;
  margin: 0 auto;
  padding: 0;

  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.copyright {
  position: relative;
}

.copyright__site svg {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: -8px;
  left: 94px;
}
