.download-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;

  width: 240px;
  height: 240px;

  padding: 0;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-top: 11px;

  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  font-weight: lighter;
  text-align: center;
}

.download-list__item:first-child {
  margin-bottom: 10px;
}

.download-list__info {
  .indent-clear();
}

.download-list__btn {
  display: block;

  width: 250px;
  padding: 15px;
  margin: 0 auto;

  color: @color-white;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;

  border: 2px solid @color-white;
  border-radius: 35px;
  background: transparent;

  &:hover {
    background-color: @color-white;
    color: @color-red;
  }

  &:active {
    background-color: @color-white;
    color: @color-red;
    opacity: 0.3;
  }
}

.apps-function__wrapper {
  display: block;
  height: 266px;

  box-sizing: border-box;

  background-color: @color-dark-blue;
}

@media (min-width: @tablet-width) {
  .apps-function__wrapper {
    position: absolute;
    display: block;
    width: 320px;
    bottom: 85px;
    left: 0;

    padding: 0;

    background: transparent;
  }

  .download-list {
    width: 300px;

    .indent-clear();
  }

  .download-list__btn {
    width: 265px;

    background: transparent;
  }

  .download-list__item:first-child {
    margin-bottom: 47px;
  }

  .download-list__item:last-child {
    display: block;
    width: 300px;
    margin-top: 32px;
  }

  .download-list__item:nth-child(2) {
    padding-left: 30px;
  }

  .download-list__item:nth-child(4) {
    padding-right: 30px;
  }

  .download-list__info {
    font-size: 18px;
    line-height: 24px;
    font-weight: lighter;
  }
}

@media (min-width: @desktop-width) {
  .download-list__info {
    .indent-clear();
  }

  .download-list__item:first-child {
    margin-top: 25px;
    margin-bottom: 70px;
  }

  .download-list__item:last-child {
    margin-top: 47px;
  }

  .apps-function__wrapper {
    bottom: 177px;
  }
}
