.editor__wrapper {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;

  margin: 0 auto;
  padding: 0;

  width: 260px;
}

.editor__icon .editor__icon-color-red {
  fill: @color-red;
}

.editor__button {
  display: block;

  border: none;
  background: transparent;
  cursor: pointer;
}

@media (max-width: @mobile-width-only) {
  .editor__wrapper {
    margin-bottom: 33px;
  }

  .editor__wrapper-toggles {
    border-top: 1px solid @color-gray-dark;
  }

  .editor__icon--mobile .editor__icon-color-red {
    fill: @color-icon-fill;
  }
}

.editor__wrapper-toggles {
  background-color: @color-gray;
}

.editor__toggles {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 20px;

  width: 280px;
}

.editor__toggle {
  color: @color-red;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;

  border: 3px solid @color-red;
  border-radius: 50px;
  background-color: @color-gray;

  margin-bottom: 13px;
  padding: 15px;

  cursor: pointer;

  &:hover {
    color: @color-white;

    background-color: @color-red;
  }

  &:active {
    opacity: 0.7;
  }
}

.editor__toggle--cancel {
  color: @color-blue;

  border-color: @color-blue;
  background-color: transparent;

  opacity: 0.1;

  &:hover {
    color: @color-blue;

    background: transparent;

    opacity: 0.3;
  }

  &:active {
    color: @color-white;

    background-color: @color-blue;

    opacity: 0.3;
  }
}

.editor__tool--balance {
  padding-bottom: 10px;
}

.editor__tool--range-black {
  display: block;

  width: 240px;
  height: 2px;

  margin-top: 33px;

  background-color: @color-black;
}

.editor__tool--circle {
  display: block;
  position: absolute;
  top: 82px;

  width: 10px;
  height: 10px;

  border: 2px solid @color-red;
  border-radius: 50px;
  background-color: @color-gray;
  cursor: pointer;

  &:active {
    background-color: @color-red;
  }
}

@media (max-width: @mobile-width-only) {
  .editor__tool--tablet-desktop {
    display: none;
  }

  .editor__tool--circle {
    right: 50px;
  }
}

@media (min-width: @tablet-width) {
  .editor__toggle {
    margin-bottom: 23px;
  }

  .editor__toggles {
    width: 260px;

    padding: 0;
  }

  .editor__tool--cut,
  .editor__tool--color,
  .editor__tool--balance {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 280px;
    height: 50px;

    margin-bottom: 10px;
    padding-bottom: 8px;

    border-bottom: 1px solid @color-gray-dark;
  }

  .editor__tool-mobibe {
    display: none;
  }

  .editor__tool--cut svg {
    width: 24px;
    height: 24px;
  }

  .editor__tool--color svg {
    width: 25px;
    height: 25px;
  }

  .editor__tool--balance svg {
    width: 18px;
    height: 18px;
  }

  .editor__tool--balance .editor__tool--circle {
    left: 165px;
  }

  .editor__tool--color .editor__tool--circle {
    left: 95px;
  }

  .editor__tool--cut .editor__tool--circle {
    right: 50px;
  }

  .editor__tool--range-black {
    width: 200px;

    margin: 0;
  }

  .editor__tool--circle {
    top: 15px;
  }

  .editor__wrapper {
    width: 100%;

    margin-bottom: 62px;
  }
}

@media (min-width: @desktop-width) {
  .editor__wrapper-toggles {
    display: flex;
    justify-content: space-between;

    margin-top: 135px;
  }

  .editor__toggle {
    width: 180px;
  }

  .editor__toggles {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;

    margin: 0;
    padding: 0;
  }

  .editor__button {
    margin: 0;
    padding: 0;
  }

  .editor__wrapper {
    justify-content: flex-start;
  }

  .editor__wrapper svg {
    width: 48px;
    height: 48px;
  }

  .editor__tool {
    margin-right: 15px;
  }

  .editor__tool--range-black {
    width: 290px;
  }

  .editor__tool--circle {
    top: 16px;
    left: 167px;
  }

  .editor__tool--cut,
  .editor__tool--color,
  .editor__tool--balance {
    justify-content: space-between;

    width: 100%;

    margin-bottom: 13px;
  }

  .editor__tool--balance svg {
    width: 35px;
    height: 35px;
  }

  .editor__tool--color .editor__tool--circle {
    left: 343px;
  }

  .editor__tool--balance .editor__tool--circle {
    left: 256px;
  }
}
