.forms__info {
  display: block;
  width: 280px;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 55px;

  color: @color-blue;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  text-align: center;
}

.form__info-tablet {
  display: none;
}

.forms__wrapper {
  display: flex;
  width: 320px;
  flex-direction: column;
  margin: 0 auto;

  margin-bottom: 45px;
}

.forms__checkbox-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  .indent-clear();
  list-style: none;
}

.forms__label {
  padding-left: 15px;

  color: @color-red;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
}

.forms__input {
  overflow: visible;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-bottom: 25px;

  color: @color-blue;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
}

.forms__group {
  .indent-clear();
}

.forms__item {
  margin-bottom: 50px;
}

.forms__checkbox {
  width: 320px;
  border: none;
  .indent-clear();
}

.forms__decription {
  display: block;
  width: 225px;
  margin: 0 auto;
  padding: 40px 0;

  text-align: center;
  color: @color-red;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
}

.forms__decription--tablet-desktop {
  display: none;
}

.forms__decription--small-pad {
  padding: 0;
  padding-bottom: 20px;
}

.forms__text {
  box-sizing: border-box;
  width: 100%;
  max-height: 200px;
  resize: none;

  color: @color-blue;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
}

.forms__send {
  display: block;
  width: 320px;

  color: @color-white;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;

  border: none;
  border-radius: 5px;
  background-color: @color-green;

  padding-top: 20px;
  padding-bottom: 20px;
}

.forms__legend {
  display: block;

  margin: 0 auto;

  color: @color-blue;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  text-align: center;
}

.forms__legend--desktop {
  display: none;
}

.forms__sup {
  color: @color-red;
}

.forms__wrapper--bgray {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: @color-gray;
}

@media (min-width: @tablet-width) {
  .forms__wrapper {
    width: 660px;

    margin: 0 auto;
  }

  .forms__info {
    display: block;
    width: 500px;

    margin: 0 auto;

    font-size: 18px;
    text-align: center;
  }

  .form__info-tablet {
    display: block;
    width: 500px;

    margin: 0 auto;
    margin-bottom: 70px;

    color: @color-blue;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    text-align: center;
  }

  .forms__input {
    width: 500px;
  }

  .forms__input--larger-size {
    width: 550px;
  }

  .forms__name-wrapper {
    display: flex;
    flex-wrap: wrap;
    order: 0;
  }

  .forms__group {
    width: 660px;
    display: flex;
    justify-content: space-between;
  }

  .forms__label {
    padding-top: 10px;
  }

  .forms__checkbox {
    width: 660px;

    margin: 0 auto;

    order: 4;
  }

  .forms__wrapper--bgray {
    order: 1;
    background: none;
  }

  .forms__question-list {
    display: flex;
    width: 660px;
    flex-direction: column;
  }

  .forms__number-wrapper {
    order: 3;
  }

  .forms__send-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    order: 5;

    margin-bottom: 50px;
  }

  .forms__decription {
    display: inline-block;
    width: 660px;
  }

  .forms__decription--tablet-desktop {
    display: block;
  }

  .forms__item {
    width: 660px;
  }

  .forms__legend {
    margin: 0;
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .forms__send {
    padding-left: 60px;
    padding-right: 60px;
  }

  .forms__checkbox-list {
    width: 660px;
    align-items: flex-start;

    padding-left: 60px;
  }
}

@media (min-width: @desktop-width) {
  .forms__info {
    width: 770px;
  }

  .form__info-tablet {
    width: 770px;
  }

  .forms__name-wrapper {
    width: 480px;

    .indent-clear();
  }

  .forms__group {
    width: 480px;
  }

  .forms__checkbox-list {
    width: 480px;

    padding-left: 70px;
  }

  .forms__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    width: 960px;

    margin: 0 auto;
  }

  .forms__number-wrapper {
    width: 960px;
  }

  .forms__input {
    width: 100%;
  }

  .forms__send-wrapper {
    width: 960px;

  }

  .forms__item {
    width: 820px;

    margin: 0 auto;
  }

  .forms__legend {
    display: none;

    margin: 0;
  }

  .forms__legend--desktop {
    display: block;
  }

  .forms__question-list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 960px;
  }

  .forms__wrapper--bgray {
    width: 480px;

    margin: 0;
  }

  .forms__decription {
    width: 480px;

    margin-bottom: 60px;
    padding: 0;
  }

  .forms__decription--tablet-desktop {
    display: block;
  }
}
