.forms__info {
  display: block;
  color: @color-blue;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  text-align: center;
}

.forms__checkbox-list {
  .indent-clear;
  list-style: none;
}

.forms__label {
  color: @color-red;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
}

.forms__input {
  color: @color-blue;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
}

.forms__checkbox {
  width: 320px;
  border: none;
  .indent-clear;

  background-color: @color-gray;
}

.forms__decription {
  display: block;
  width: 225px;
  margin: 0 auto;
  padding: 0;

  text-align: center;
  color: @color-red;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
}
