.forms__info {
  display: block;
  width: 280px;
  margin: auto;
  margin-top: 45px;
  margin-bottom: 34px;

  color: @color-blue;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  text-align: center;
}

.form__info-tablet {
  display: none;
}

.forms {
  margin-bottom: 50px;
}

.forms__wrapper {
  display: flex;
  width: 280px;
  flex-direction: column;

  margin: 0 auto;

  padding: 0;
}

.forms__name-wrapper,
.forms__number-wrapper,
.forms__send-wrapper {
  width: 280px;

  margin: 0 auto;
  padding: 0;
}

.forms__number-wrapper {
  padding-bottom: 24px;
}

.forms__name-wrapper {
  margin-bottom: 25px;
}

.forms__checkbox-list {
  width: 280px;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.forms__label {
  display: block;

  margin-bottom: 5px;
  margin-left: 22px;

  color: @color-red;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
}

.forms__input {
  overflow: visible;
  box-sizing: border-box;
  width: 100%;

  margin-bottom: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;


  color: @color-blue;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;

  border: 2px solid @color-gray;
}

.forms__input:hover {
  border-color: @color-blue;
}

.forms__input:focus {
  border-color: @color-red;
  box-shadow: none;
}

.forms__group {
  .indent-clear();
}

.forms__item {
  display: block;
  margin-bottom: 55px;
}

.forms__checkbox {
  width: 100%;
  border: none;

  .indent-clear();
  margin-bottom: 30px;
  padding-bottom: 45px;

  background-color: @color-gray;
}

.forms__decription {
  display: block;
  width: 225px;

  margin: 0 auto;
  margin-bottom: 6px;
  padding: 40px 0;

  text-align: center;
  color: @color-red;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
}

.forms__decription--tablet-desktop {
  display: none;
}

.forms__decription--small-pad {
  margin-bottom: 16px;
  padding: 0;
}

.forms__text {
  box-sizing: border-box;
  width: 100%;
  resize: none;

  padding: 15px 20px;

  color: @color-blue;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;

  border: 2px solid @color-gray;

  &:hover {
    border-color: @color-blue;
  }

  &:focus {
    border-color: @color-red;
  }
}

.forms__send {
  display: block;
  width: 280px;

  margin-bottom: 30px;
  padding-top: 18px;
  padding-bottom: 18px;

  color: @color-white;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;

  border: none;
  border-radius: 5px;
  background-color: @color-green;
  text-transform: uppercase;

  &:hover {
    background-color: @color-green-hover;
  }

  &:active {
    opacity: 0.7;
  }

  &:disabled {
    opacity: 0;
  }
}

.forms__legend {
  display: block;

  margin: 0 auto;

  color: @color-blue;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.forms__legend--desktop {
  display: none;
}

.forms__sup {
  color: @color-red;
}

.forms__wrapper--bgray {
  width: 100%;

  .indent-clear();
  margin-bottom: 38px;

  align-items: center;

  background-color: @color-gray;
}

@media (max-width: @mobile-width-only) {
  .form__input-wrapper svg {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .forms__wrapper {
    width: 660px;

    margin: 0 auto;
    padding: 0;
  }

  .forms__info {
    display: block;
    width: 500px;

    margin: 0 auto;
    margin-bottom: 70px;

    font-size: 18px;
    text-align: center;
  }

  .form__info-tablet {
    display: inline-block;

    color: @color-blue;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    text-align: center;
  }

  .forms__input {
    display: inline-block;
    width: 100%;
    height: 64px;

    margin: 0;

    box-sizing: border-box;
  }

  .form__input-wrapper {
    position: relative;

    width: 500px;

    margin: 0 auto;
  }

  .form__input-wrapper::after {
    content: "";
    z-index: 1;

    position: absolute;
    top: 2px;
    right: 2px;

    width: 60px;
    height: 60px;

    background-color: @color-gray;
  }

  .form__input-wrapper svg {
    z-index: 2;
    position: absolute;
    top: 22px;
    right: 22px;

    fill: @color-red;
  }

  .forms__name-wrapper {
    width: 620px;
    display: flex;
    flex-wrap: wrap;
    order: 0;

    margin: 0 auto;
    margin-bottom: 13px;
    padding: 0;
  }

  .forms__group {
    width: 660px;
    display: flex;
    justify-content: space-between;

    margin-bottom: 50px;
  }

  .forms__group:last-child {
    margin: 0;
  }

  .forms__label {
    margin: 0;
    margin-top: 17px;
    margin-right: 20px;
    padding: 0;

    &--desktop {
      order: 1;
      display: block;
      width: 150px;

      margin-top: 10px;
      margin-left: 20px;
      margin-bottom: 27px;
    }
  }

  .forms__label-wrapper {
    width: 500px;

    display: flex;
    flex-wrap: wrap;

    margin: 0 auto;
  }

  .forms__checkbox {
    order: 4;

    background: none;
  }

  .forms__wrapper--bgray {
    display: block;
    position: relative;

    width: 620px;

    margin-bottom: 24px;

    order: 1;

    background: none;
    align-items: baseline;
  }

  .forms__question-list {
    display: flex;
    flex-direction: column;
  }

  .forms__number-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 620px;

    margin: 0 auto;
    margin-bottom: 18px;
    padding: 0;

    order: 3;
  }

  .forms__number-wrapper .forms__decription {
    padding: 0;
    padding-top: 45px;
    padding-bottom: 24px;
  }

  .forms__send-wrapper {
    position: relative;
    width: 620px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    order: 5;

    margin: 0 auto;
    margin-bottom: 5px;
    padding: 0;
  }

  .forms__decription {
    display: inline-block;
    width: 620px;

    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
  }

  .forms__decription--tablet-border {
    margin-bottom: 0;
  }

  .forms__decription::after {
    content: "";

    position: absolute;
    top: 59px;
    left: 0;

    width: 616px;
    height: 296px;

    border: 2px solid @color-gray;
    z-index: -1;
  }

  .forms__decription--small-pad {
    margin-bottom: 30px;
  }

  .forms__decription--small-pad::after {
    top: 14px;
    left: 0;

    height: 288px;
  }

  .forms__decription span {
    background-color: @color-white;

    padding: 0 40px;
  }

  .forms__decription--tablet-desktop {
    display: block;

    padding-bottom: 25px;

    &::after {
      height: 311px;
    }
  }

  .forms__text {
    width: 500px;

    margin: 0 auto;
  }

  .forms__item {
    display: block;
    width: 520px;

    margin: 0 auto;
    margin-bottom: 120px;
  }

  .forms__legend {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .forms__send {
    width: 300px;

    padding-left: 50px;
    padding-right: 50px;
  }

  .forms__checkbox-list {
    width: 500px;
    align-items: flex-start;

    margin: 0;
    margin-left: 59px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .forms__info {
    width: 750px;

    margin-bottom: 64px;

    font-size: 18px;
    line-height: 30px;
  }

  .forms__input {
    padding: 0;
    padding-left: 20px;
  }

  .forms__name-wrapper {
    width: 435px;

    .indent-clear();
    margin-top: 18px;
  }

  .forms__group {
    width: 480px;

    margin-bottom: 54px;
  }

  .forms__checkbox-list {
    width: 230px;

    margin-left: 95px;
  }

  .forms__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    width: 940px;

    margin: 0 auto;
    padding: 0;
  }

  .forms__number-wrapper {
    width: 940px;

    flex-direction: row;
    flex-wrap: wrap;

    margin-top: 5px;
    margin-bottom: 33px;
  }

  .forms__input--desktop {
    width: 375px;

    margin-bottom: 8px;
    padding-left: 23px;
  }

  .form__input-wrapper::after {
    right: -3px;
  }

  .form__input-wrapper svg {
    right: 16px;
  }

  .forms__send-wrapper {
    width: 940px;

    margin: 0 auto;
    padding: 0;
  }

  .forms__item {
    width: 820px;

    margin: 0 auto;
    margin-bottom: 104px;
  }

  .forms__legend {
    display: none;

    margin: 0;
  }

  .forms__legend--desktop {
    display: block;

    margin-right: 10px;
  }

  .forms__question-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 940px;

    margin: 0 auto;
    padding: 0 10px;
  }

  .forms__wrapper--bgray {
    width: 435px;

    margin: 0;
    padding: 0;
  }

  .forms__number-wrapper .forms__decription {
    padding-bottom: 0;
  }

  .forms__decription {
    display: block;
    width: 440px;

    margin-bottom: 30px;
    padding: 0;
  }

  .forms__decription--deskto-border {
    margin-bottom: 45px;
  }

  .forms__decription--deskto-border span {
    padding: 0 25px;
  }

  .forms__decription--deskto-border::after {
    top: 12px;
    left: 19px;

    width: 420px;
    height: 301px;
  }

  .forms__decription--tablet-desktop::after {
    top: 59px;
    left: 0;

    width: 925px;
    height: 162px;
  }

  .form__input-wrapper {
    width: 370px;

    .indent-clear();
    margin-left: 10px;
  }

  .forms__label {
    margin: 0;
    margin-top: 19px;
    margin-right: 20px;
  }

  .forms__label--desktop {
    display: block;
    width: 280px;

    .indent-clear();
    margin-left: 17px;

    order: 1;
  }

  .forms__container {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .forms__label-wrapper {
    width: 415px;
    display: flex;
    flex-wrap: wrap;

    margin: 0;

    &:first-child {
      margin-left: 45px;
    }
  }

  .forms__checkbox {
    width: 940px;
  }

  .forms__decription--small-pad {
    position: relative;
    width: 940px;

    top: 13px;
    left: 0;

    margin-bottom: 40px;
  }

  .forms__decription--small-pad::after {
    width: 925px;
    height: 215px;

    top: 14px;
    left: 0;
  }

  .forms__text {
    width: 820px;
    height: 128px;

    margin: 0 auto;
  }

  .forms {
    margin-bottom: 39px;
  }
}
