.list-photo {
  margin: 0 auto;
  padding: 0;
  padding-top: 400px;

  list-style: none;
}

.list-photo__item {
  width: 280px;
  display: flex;
  flex-direction: column;

  color: #283645;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;

  margin: 0 auto;
  margin-bottom: 20px;
  padding-bottom: 20px;

  background-color: #f2f2f2;
}

.list-photo__item a {
  display: block;
}

.list-photo__item--panorama {
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  margin-left: 0;
  margin-right: 0;

  background: none;
}

.list-photo__item--panorama .list__photo-picture {
  width: 100%;
  height: 190px;
}

.list-photo__picture-main {
  .indent-clear();
}

.list-photo__picture {
  display: block;

  width: 100%;
}

.list-photo__info {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;

  font-weight: 400;
}

.list-photo__likes {
  display: flex;

  margin: 0;
  margin-top: auto;
  padding-left: 18px;
  padding-bottom: 0;

  color: #d22856;
  font-size: 12px;
  font-weight: 400;
}

.list-photo__likes span {
  padding-left: 18px;
}

.list-photo__btn {
  .indent-clear();

  fill: @color-red;

  border: none;
  background-color: transparent;
}

.list-photo__time {
  font-size: 12px;
  font-weight: 300;
}

.list-photo__name {
  margin: 0;
  padding-left: 20px;
  padding-top: 10px;

  font-size: 14px;
}

@media (min-width: @tablet-width) {
  .list-photo {
    width: 620px;
    display: flex;
    flex-wrap: wrap;

    padding-top: 650px;
  }

  .list-photo__item:not(.list-photo__item--panorama) {
    width: 300px;
    // margin: 0;
    // // margin-right: 20px;
    // // margin-bottom: 20px;
  }

  .list-photo__item--panorama .list__photo-picture {
    height: 510px;
  }


  // @media (max-width: @tablet-width-only) {
  //   .list-photo__item:nth-child(2n) {
  //     margin-right: 0;
  //   }
  // }

  .list-photo__item--tablet-view {
    display: inline-block;
    width: 620px;

    margin: 0 auto;
    margin-bottom: 50px;
  }

  .list-photo__likes {
    display: flex;
    justify-content: space-between;

    padding-right: 33px;
    padding-left: 27px;
  }

  .list-photo__likes span {
    display: block;

    padding: 0;

    order: 1;
  }

  .list-photo__btn {
    display: block;

    order: 2;
  }

  .list-photo__name {
    padding-top: 18px;
    padding-left: 27px;
  }

  .list-photo__info {
    display: block;
    min-height: 60px;

    padding: 0;
    padding-left: 27px;
    padding-right: 27px;
  }
}

@media (min-width: @desktop-width) {
  .list-photo {
    width: 960px;

    margin: 0 auto;
    padding-top: 650px;
  }

  .list-photo__btn {
    order: 2;
  }

  .list-photo__likes span {
    order: 1;
  }

  .list-photo__item {
    margin-bottom: 57px;
  }
}
