.main-photo__wrapper {
  position: relative;

  width: 100%;
  height: 400px;

  margin: 0 auto;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 0 -51px;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-photo__picture--mobile {
  display: block;
  width: 300px;
  height: 350px;

  position: absolute;
  top: 109px;
  left: 0;

  margin: 0 auto;

  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 260px 285px;
}

.main-photo__info {
  display: block;
  width: 100%;

  margin: 0 auto;
  padding: 0;
  padding-top: 23px;

  text-align: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: lighter;
  line-height: 30px;
}

.main-photo {
  margin-bottom: 40px;
}

@media (max-width: @mobile-width-only) {
  .main-photo__picture--mobile {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

@media (min-width: @tablet-width) {
  .main-photo__container {
    display: block;
    position: relative;
    width: 620px;

    margin: 0 auto;
  }

  .main-photo {
    display: flex;
    width: 100%;
    height: 620px;

    margin: 0 auto;
    margin-bottom: 50px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  .main-photo__wrapper {
    width: 620px;
    height: 100%;

    margin: 0 auto;
    padding: 0;

    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-position: -35px 4px;
    background-repeat: no-repeat;
    background-size: 692px 545px;
  }

  .main-photo__info {
    width: 200px;

    margin-top: 69px;
    margin-left: 49px;

    font-size: 40px;
    line-height: 50px;
  }

  .main-photo__picture--mobile,
  .main-photo__picture--desktop {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-photo {
    height: 750px;

    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: -682px -118px;
    background-repeat: no-repeat;
  }

  .main-photo__wrapper {
    width: 940px;
    height: 100%;

    margin: 0 auto;
    padding: 0;

    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: 30px 9px;
    background-repeat: no-repeat;
    background-size: 1035px 650px;
  }

  .main-photo__container {
    width: 940px;
  }

  .main-photo__info {
    width: 230px;

    margin-top: 76px;
    margin-left: 36px;

    font-size: 50px;
    line-height: 60px;
  }
}
