.page-header {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  z-index: 10;
}

.page-body--no-js .page-header {
  position: static;
}

.main-nav__wrapper {
  width: 100%;

  margin: 0 auto;
  padding: 0;

  background-color: @color-blue;
}

.main-nav--close .main-nav__wrapper {
  background-color: rgba(0, 0, 0, 0.3);
}

.main-nav__list {
  list-style: none;

  display: flex;
  justify-content: space-between;
  .indent-clear();
}

.main-nav__logo-picture {
  &:hover {
    path {
      fill: @color-red;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__logo-picture--tablet,
.main-nav__logo-picture--desktop {
  display: none;
}

.main-nav__logo {
  display: block;

  padding: 0;
  cursor: pointer;
}

.main-nav__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .indent-clear();
  padding: 20px;

  border-bottom: 1px solid @color-black;
}

.main-nav__togle {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 50px;
  height: 33px;

  .indent-clear();

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.main-nav__open,
.main-nav__close {
  fill: @color-white;

  &:hover {
    fill: @color-red;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-body--no-js .main-nav__togle {
  display: none;
}

.main-nav__close {
  width: 50px;
  height: 33px;
}

@media (max-width: @mobile-tablet-width) {
  .main-nav--close {
    height: 64px;
  }

  .main-nav--close .site-list {
    display: none;
  }

  .main-nav__navigation {
    border: none;
  }

  .main-nav--close .main-nav__open,
  .main-nav--open .main-nav__close {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .main-nav__logo-picture {
    width: 150px;
    height: 50px;
  }

  .main-nav {
    width: 100%;

    margin: 0;
    padding: 0;
  }

  .main-nav__logo-picture--mobile {
    display: none;
  }

  .main-nav__logo-picture--tablet {
    display: block;
  }

  @media (max-width: @tablet-width-only) {
    .main-nav--close {
      height: 105px;

      background-position: -281px -4px;
      background-size: auto;
    }
  }

  .main-nav__navigation {
    height: 110px;

    margin: 0;
    padding-bottom: 40px;
  }

  .main-nav__wrapper {
    width: 100%;

    margin: 0;
    padding: 0;
  }

  .main-nav__open {
    margin-right: 20px;
  }

  .user-list__item:last-child {
    padding: 37px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    position: relative;
  }

  .main-nav {
    width: 100%;
    min-height: 110px;

    margin: 0 auto;

    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: center 0;
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2600px auto;
    }
  }

  .main-nav__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 940px;
    min-height: 110px;

    margin: 0 auto;
    padding: 0;

    background: none;
  }

  .main-nav--close .main-nav__wrapper {
    background: none;
  }

  .main-nav__navigation {
    margin: 0;
    padding-left: 10px;

    border: none;
  }

  .main-nav__togle {
    display: none;
  }

  .main-nav__logo-picture--tablet,
  .main-nav__logo-picture--mobile {
    display: none;
  }

  .main-nav__logo-picture--desktop {
    display: block;

    margin: 0;
  }
}
