.page-main__wrapper {
  width: 320px;

  margin: 0 auto;
  padding: 0;
}

.main-photo__wrapper {
  position: relative;
  min-height: 400px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.main-photo__wrapper::after {
  display: block;
  position: absolute;
  content: "";
  width: 260px;
  height: 290px;
  top: 114px;
  left: 2px;

  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.main-photo__info {
  .indent-clear();
  padding: 32px;

  color: @color-white;
  font-weight: lighter;
  font-size: 24px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .page-main__wrapper {
    width: 660px;
  }

  .main-photo__wrapper {
    background: none;
  }

  .main-photo__wrapper::after {
    display: block;
    background: none;
  }

  .main-photo__info {
    display: block;
    width: 180px;

    margin-top: 100px;
    margin-left: 75px;
    padding: 0;

    font-size: 40px;
  }
}

@media (min-width: @desktop-width) {
  .main-photo__wrapper {
    background: none;
  }

  .main-photo__wrapper::after {
    display: block;
    background: none;
  }

  .main-photo__info {
    width: 230px;

    margin-top: 100px;
    margin-left: 140px;

    font-size: 50px;
  }

  .page-main__wrapper {
    width: 1200px;
  }
}
