.page-footer__nav {
  margin-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .indent-clear();
    padding: 0 20px;
  }

  .page-footer__nav {
    .indent-clear();
  }
}
