.page-next__wrapper {
  height: 170px;
  margin-bottom: 55px;
  .indent-clear();
  list-style: none;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 0 -70px;
  background-repeat: no-repeat;
}

.page-next__title {
  .indent-clear();
  padding: 32px;

  color: @color-white;
  font-weight: lighter;
  font-size: 24px;
  text-align: center;
}
