.offers-list {
  position: relative;
  display: flex;
  flex-direction: column;

  list-style: none;

  .indent-clear();
  padding-top: 90px;

  background-color: @color-gray;
}

.offers-list__slogan {
  .indent-clear();
  margin-bottom: 20px;

  font-size: 18px;
  font-weight: bold;
  line-height: 10px;
}

.offers-list__intro {
  .indent-clear();
  margin-bottom: 40px;

  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
}

.offers-list__item {
  color: #283645;
  text-align: center;
}

.offers-list__item:first-child {
  padding-top: 50px;
}

.offers-list__photo--desktop {
  display: none;
}

.offers-list__triangle-bg {
  position: absolute;
  top: -50px;
  left: 0;
}

@media (min-width: @tablet-width) {
  .offers-list {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 320px;
    height: 420px;

    margin-bottom: 95px;
    padding-left: 320px;
  }

  .offers-list::after {
    position: absolute;
    content: "";
    width: 270px;
    height: 485px;
    bottom: -3px;
    left: 20px;

    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  .offers-list__triangle-bg {
    position: absolute;
    top: -20px;
    left: 0;
  }

  .offers-list__item {
    text-align: left;
  }

  .offers-list__item:first-child {
    .indent-clear();
    margin-top: 60px;
  }

  .offers-list__photo {
    display: none;
  }

  .slider__feedback-description {
    margin-bottom: 45px;
  }
}

@media (min-width: @desktop-width) {
  .offers-list {
    position: relative;
    width: 100%;
    min-height: 1045px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0 auto;
    padding: 0;
    padding-top: 50px;
    z-index: 1;
  }

  .offers-list::after {
    display: none;
  }

  .offers-list__triangle-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .offers-list__item {
    width: 245px;
    margin: 0 60px;
  }

  .offers-list__item:last-child {
    display: none;
  }

  .slider__feedback-description {
    margin-bottom: 45px;
  }

  .offers-list__photo--desktop {
    display: block;

    margin: 0 auto;
    margin-bottom: 60px;
  }

  .offers-list__slogan {
    display: block;

    margin: 0 auto;
    padding: 10px;

    color: @color-black;
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
  }

  .offers-list__intro {
    display: block;

    margin: 0 auto;
    padding: 0;

    color: @color-blue;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    text-align: center;
  }
}
