.offers-list {
  position: relative;
  width: 280px;
  display: flex;
  flex-direction: column;

  list-style: none;

  margin: 0 auto;
  padding-top: 30px;
}

.offers-list__slogan {
  .indent-clear();
  margin-bottom: 17px;

  font-size: 18px;
  font-weight: 700;
  line-height: 10px;
}

.offers-list__intro {
  margin: 0;
  margin-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.offers-list__intro br {
  display: none;
}

.offers-list__item {
  color: #283645;
  text-align: center;
}

.offers-list__item:first-child {
  padding-top: 50px;
}

.offers-list__photo--desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .offers-list {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 310px;
    min-height: 420px;

    margin: 0;
    margin-left: 10px;
    padding: 0;
  }

  .offers-list__item {
    text-align: left;
  }

  .offers-list__item:first-child {
    .indent-clear();
    margin-top: 75px;
  }

  .offers-list__photo {
    display: none;
  }

  .offers-list__intro {
    margin-bottom: 43px;
    padding: 0;
    padding-right: 10px;
  }

  .offers-list__intro br {
    display: block;
  }

  .offers-list__intro br:first-child {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .offers-list {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    margin: 0 auto;
    padding: 0;
    z-index: 1;
  }

  .offers-list::after {
    display: none;
  }

  .offers-list__item {
    width: 300px;
    margin: 0;
  }

  .offers-list__item:first-child {
    margin: 0;
  }

  .offers-list__item:last-child {
    display: block;
  }

  .slider__feedback-description {
    display: block;
    width: 670px;

    margin: 0 auto;
    margin-bottom: 36px;

    font-size: 18px;
    line-height: 30px;
  }

  .offers-list__photo--desktop {
    display: block;
    height: 300px;

    margin: 0 auto;
    margin-bottom: 63px;
  }

  .offers-list__slogan {
    display: block;
    width: 235px;

    margin: 0 auto;
    margin-bottom: 24px;
    padding: 0;

    color: @color-black;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
  }

  .offers-list__intro {
    display: block;

    margin: 0 auto;
    padding: 0 35px;

    color: @color-blue;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
  }

  .offers-list__intro br:nth-child(2) {
    display: none;
  }

  .offers-list__intro br:first-child {
    display: block;
  }
}
