.page-next__wrapper {
  width: 100%;

  margin: 0 auto;
  padding-top: 99px;
  padding-bottom: 80px;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center 0;
  background-repeat: no-repeat;
  background-color: @color-blue;
  background-size: cover;

  @media (min-resolution: @retina-dppx),
    (min-resolution: @retina-dpi) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

@media (max-width: @mobile-width-only) {
  .page-body--no-js .page-next__wrapper {
    padding-top: 0;
    padding-bottom: 81px;

    background-position: center -65px;

    @media (min-resolution: @retina-dppx),
      (min-resolution: @retina-dpi) {
      background-position: center -68px;
    }
  }

  .page-body--no-js .page-next__wrapper--form {
    padding-top: 29px;
    padding-bottom: 52px;
  }
}

.page-body--no-js .page-next__description {
  padding-top: 30px;
}

.page-next__title,
.page-next__description {
  display: block;
  width: 240px;

  margin: 0 auto;
  padding-top: 0;

  color: @color-white;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.page-next__main-picture--tablet-view,
.page-next__main-picture--desktop-view {
  display: none;
}

.page-next__photo-info {
  display: block;
  width: 250px;

  margin: auto;
  margin-top: 45px;
  margin-bottom: 49px;

  color: #283645;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .page-next__wrapper {
    width: 100%;
    min-height: 440px;

    margin: 0 auto;
    margin-bottom: 92px;
    padding-top: 150px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: inherit;

    @media (min-resolution: @retina-dppx),
      (min-resolution: @retina-dpi) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }

  @media (max-width: @tablet-width-only) {
    .page-body--no-js .page-next__wrapper {
      min-height: 329px;

      padding-top: 39px;
      padding-bottom: 0;
    }

    .page-body--no-js .page-next__wrapper--form {
      min-height: 329px;

      margin-top: 0;
      padding-top: 50px;

      background-position: center -111px;
    }
  }

  .page-next__title,
  .page-next__description {
    display: block;
    width: 550px;

    margin: 0 auto;

    font-size: 50px;
    line-height: 60px;
  }

  @media (max-width: @tablet-width-only) {
    .page-body--no-js .page-next__title {
      padding-top: 20px;
    }
  }

  .page-next__main-picture--tablet-view {
    display: block;

    height: 508px;

    margin: 0 auto;
  }

  .page-next__photo-info {
    display: block;
    width: 450px;

    margin-top: 92px;
    margin-bottom: 76px;
    padding: 0;

    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .page-next__wrapper {
    width: 100%;
    min-height: 394px;

    margin-top: 0;
    padding-top: 110px;
    padding-bottom: 101px;

    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: center 0;
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dppx),
      (min-resolution: @retina-dpi) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2550px auto;
      background-position: center 13px;
    }
  }

  .page-next__wrapper--form {
    min-height: 395px;
  }

  .page-next__title,
  .page-next__description {
    width: 760px;
    display: block;

    margin: 0 auto;
    padding-top: 63px;

    font-size: 50px;
  }

  .page-next__description {
    width: 450px;
  }

  .page-next__photo-info {
    display: block;
    width: 580px;

    margin: 0 auto;
    margin-top: 93px;
    margin-bottom: 87px;

    font-size: 18px;
  }

  .page-next__main-picture--tablet-view {
    display: none;
  }

  .page-next__main-picture--desktop-view {
    display: block;

    height: 506px;

    margin: 0 auto;
  }
}
