.page-header__list {
  list-style: none;

  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid @color-black;

  background-color: @color-blue;
}

.page-header__togle {
  background-color: transparent;
  border: none;
}
