.page-next__wrapper {
  width: 100%;
  height: 170px;

  margin: 0 auto;

  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 0 -70px;
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: cover;
  }
}

@media (max-width: @mobile-width-only) {
  .page-next__wrapper {
    background-size: cover;
  }
}

.page-next__title {
  display: block;
  width: 235px;

  margin: 0 auto;
  padding: 32px;

  color: @color-white;
  font-weight: lighter;
  font-size: 24px;
  text-align: center;
}

.page-next__main-picture--tablet-view,
.page-next__main-picture--desktop-view {
  display: none;
}

.page-next__photo-info {
  display: block;
  width: 240px;

  margin: auto;
  margin-top: 45px;
  margin-bottom: 49px;

  color: #283645;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .page-next__wrapper {
    width: 100%;
    height: 330px;

    margin: 0 auto;
    margin-bottom: 93px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center -118px;
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }

  .page-next__title {
    display: block;
    width: 485px;

    margin: 0 auto;
    padding-top: 72px;

    font-size: 50px;
  }

  .page-next__main-picture--tablet-view {
    display: block;

    height: 508px;

    margin: 0 auto;
  }

  .page-next__photo-info {
    display: block;
    width: 450px;

    margin-top: 92px;
    margin-bottom: 76px;
    padding: 0;

    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .page-next__wrapper {
    width: 100%;
    height: 275px;

    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: center -120px;
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2600px auto;
    }
  }

  .page-next__title {
    width: 640px;
    display: block;

    margin: 0 auto;
    padding-top: 57px;

    font-size: 50px;
  }

  .page-next__photo-info {
    display: block;
    width: 580px;

    margin: 0 auto;
    margin-top: 93px;
    margin-bottom: 87px;

    font-size: 18px;
  }

  .page-next__main-picture--tablet-view {
    display: none;
  }

  .page-next__main-picture--desktop-view {
    display: block;

    height: 506px;

    margin: 0 auto;
  }
}
