
.page-footer__wrapper {
  width: 320px;

  margin: 0 auto;
  padding: 0;

  text-align: center;
}

.page-footer__nav-wrapper {
  display: block;
  position: relative;

  min-height: 600px;

  .indent-clear();

  background-image: url("../img/bg-map-mobile@1x.png");
  background-position: 0 -46px;
  background-repeat: no-repeat;
}

.page-footer__nav {
  margin-bottom: 40px;
}

.page-footer__main-wrapper {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    width: 620px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    padding: 0 20px;
  }

  .page-footer__nav-wrapper {
    min-height: 715px;

    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-position: 0 37px;
    background-repeat: no-repeat;

    margin-bottom: 35px;
  }

  .page-footer__main-wrapper {
    width: 660px;
    height: 120px;

    display: flex;
    justify-content: space-between;
    align-items: baseline;

    margin: 0 auto;
    padding: 0;
  }

  .page-footer__nav {
    .indent-clear();
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: 940px;

    margin: 0 auto;
    padding: 0;
  }

  .page-footer__nav-wrapper {
    min-height: 790px;

    background-image: url("../img/bg-map-desktop@1x.jpg");
    background-position: 0 65px;
    background-repeat: no-repeat;

    margin-bottom: 35px;
  }

  .page-footer__main-wrapper {
    width: 960px;
    height: 120px;
  }
}
