.page-header__list{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #000000;

  background-color: #283645;
}

.page-header__togle {
  background-color: transparent;
  border: none;
}
