.photos {
  position: relative;
}

.photos__upload-info {
  display: block;
  width: 260px;

  margin: 43px auto;

  color: @color-blue;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;

  background-color: @color-white;
}

.photos__info {
  display: block;
  width: 240px;

  margin: auto;
  margin-top: 45px;
  margin-bottom: 49px;

  color: #283645;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.photos__main {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
}

.photos__picture {
  display: block;

  width: 100%;
}

.photos__best {
  content: "";
  position: absolute;
  top: 0;
  right: 20px;

  display: block;
  padding: 6px 20px;

  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: @color-white;
  background-color: @color-red;
}

.photos__wrapper {
  width: 320px;

  margin: 0 auto;
  margin-top: -7px;
}

@media (min-width: @tablet-width) {
  .photos__wrapper {
    width: 620px;
    margin: 0 auto;
  }

  .photos__upload-info {
    width: 460px;

    margin: 45px auto;
    padding-bottom: 23px;

    font-size: 18px;
    line-height: 30px;
  }

  .photos__main {
    margin: 0;
  }

  .photos__info {
    display: none;
  }

  .photos__picture {
    height: 507px;
  }

  .photos__best {
    top: 56px;
  }
}

@media (min-width: @desktop-width) {
  .photos__wrapper {
    width: 940px;
  }

  .photos__info {
    display: none;
  }

  .photos__upload-info {
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 44px;
  }

  .photos__best {
    top: 54px;
    right: 10px;
  }
}
