.price {
  width: 100%;
  margin: 0 auto;
}

.price__triangle-table {
  display: none;
}

.price__toggles {
  display: flex;
  width: 75px;

  align-items: center;
  justify-content: space-around;
  list-style: none;

  margin: 0 auto;
  margin-top: 40px;
  padding: 0;
}

.price__toggle {
  display: block;
  position: relative;

  padding: 7px;

  border: none;
  background-color: transparent;

  cursor: pointer;

  &::after {
    content: "";

    position: absolute;
    top: 3px;
    left: 3px;

    width: 7px;
    height: 7px;

    background-color: rgba(40, 54, 69, 0.3);
    border-radius: 50%;
  }

  &:hover::after {
    background-color: rgba(40, 54, 69, 0.6);
  }

  &:active::after {
    background-color: rgba(40, 54, 69, 0.1);
  }
}

.price__toggle--active::after {
  background: transparent;
}

.price__toggle--active:hover::after,
.price__toggle--active:active::after {
  background: transparent;
}

.price__toggle--active::before {
  content: "";

  position: absolute;
  top: 1px;
  left: 1px;

  width: 12px;
  height: 12px;

  border: 3px solid @color-blue;
  border-radius: 50%;
  z-index: 1;
}

.price__table-wrapper {
  display: block;
  position: relative;

  width: 100%;
  min-height: 290px;

  margin-bottom: 44px;
  padding-top: 96px;
  padding-bottom: 46px;

  background-color: @color-gray;

  &::after {
    position: absolute;
    content: "";

    top: 0;
    left: 0;

    width: 100%;
    height: 10vw;

    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
  }
}

@media (min-width: @tablet-width) {
  .price {
    position: relative;
    width: 100%;

    margin-bottom: 46px;
  }

  .price__table-wrapper {
    padding-top: 85px;
    padding-bottom: 68px;

    &::after {
      top: -15px;
    }
  }

  .price__triangle-table {
    display: block;
    position: absolute;
    width: 100%;
    top: -21px;
    left: 0;

    z-index: 1;
  }

  .price__toggles {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .price {
    position: relative;

    margin-bottom: 63px;

    background-color: @color-gray;
    z-index: -1;
  }

  .price__triangle-table {
    display: block;
    position: absolute;
    width: 100%;
    top: -10px;
    left: 0;
    z-index: 1;
  }

  .price__table-wrapper {
    position: relative;

    min-height: 330px;

    margin: 0 auto;
    padding: 0;
    padding-top: 151px;
    padding-bottom: 95px;
  }

  .price__table-wrapper::after {
    top: 0;

    height: 9vw;

    background-size: cover;
  }
}
