.social {
  margin-bottom: 40px;
}

.social__list {
  display: flex;
  justify-content: space-between;

  width: 150px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}


.social__button {
  position: relative;
}

.social__button::before {
  display: block;
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: -14px;
  left: -17px;

  border: 3px solid #eeeff0;
  border-radius: 50%;
}

@media (min-width: @tablet-width) {
  .social {
    .indent-clear();
  }

  .social__list {
    .indent-clear();
  }
}
