.social {
  margin-bottom: 40px;
}

.social__list {
  display: flex;
  justify-content: space-between;

  width: 170px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social__button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;

  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;

  &:hover {
    border-color: rgba(40, 54, 69, 1);
  }

  &:active {
    opacity: 0.1;
  }

  .social__icon {
    fill: @color-red;
  }
}

@media (min-width: @tablet-width) {
  .social {
    display: block;

    width: 205px;

    .indent-clear();
  }

  .social__list {
    .indent-clear();
    width: 182px;
  }

  .social__button--twitter::before {
    left: -13px;
  }
}

@media (min-width: @desktop-width) {
  .social {
    width: 148px;
  }

  .social__list {
    width: 180px;
  }
}
