.upload__wrapper {
  background-color: @color-gray;
  border-bottom: 1px solid @color-gray-dark;
}

.upload__info {
  display: block;
  width: 200px;

  margin: 45px auto;

  color: @color-blue;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  text-align: center;

  background-color: @color-white;
}

.upload__image {
  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.upload__image-tablet,
.upload__image-desktop {
  display: none;
}

.editor__wrapper {
  display: flex;
  justify-content: space-around;

  margin: 0 auto;
  padding: 0;

  width: 280px;
}

.editor__wrapper-toggles {
  background-color: @color-gray;
}

.editor__toggles {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;

  width: 280px;
}

.editor__toggle {
  color: @color-red;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;

  border: 3px solid @color-red;
  border-radius: 50px;
  background-color: @color-gray;

  margin-bottom: 15px;
  padding: 17px;
}

.editor__scales {
  position: relative;
  display: flex;
  height: 25px;
  width: 280px;

  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0;

  background-color: @color-gray;
}

.editor__config--range-black {
  position: absolute;
  top: 50%;
  left: 20px;
  width: 240px;
  height: 2px;

  background-color: @color-black;
}

.editor__config--circle {
  position: absolute;
  top: 4px;
  right: 30px;
  width: 12px;
  height: 12px;

  border: 3px solid @color-red;
  border-radius: 50px;
  background-color: @color-gray;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .upload__image {
    display: none;
  }

  .upload__image-tablet {
    display: block;

    padding: 60px 20px;
  }

  .upload__info {
    width: 460px;

    font-size: 18px;
  }

  .upload__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 660px;
    height: 520px;
  }

  .upload__editor {
    margin: 0 auto;
    padding-top: 20px;
  }

  .editor__toggle {
    margin-bottom: 23px;
  }
}

@media (min-width: @desktop-width) {
  .upload__wrapper {
    width: 960px;

    margin: 0 auto;
  }

  .upload__image-tablet {
    display: none;
  }

  .upload__image-desktop {
    display: block;

    padding: 50px;
  }

  .editor__wrapper-toggles {
    display: flex;
  }

  .upload__editor {
    width: 410px;
  }

  .editor__toggle {
    width: 180px;
  }

  .editor__toggles {
    width: 100%;
    flex-direction: row;

    margin: 0;
    padding: 0;
  }
}
