.upload {
  width: 100%;
  min-height: 756px;

  margin: 0 auto;
  margin-bottom: 40px;

  background-color: @color-gray;
}

.upload__wrapper {
  width: 320px;

  margin: 0 auto;
  padding-top: 20px;
}

.photos__upload-info {
  display: block;
  width: 260px;

  margin: 43px auto;

  color: @color-blue;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  text-align: center;

  background-color: @color-white;
}

.upload__image {
  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: 33px;
}

.upload__image-tablet,
.upload__image-desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .upload {
    width: 100%;
    min-height: 500px;

    margin-bottom: 27px;

    background-color: @color-gray;
  }

  .upload__image {
    width: 300px;

    margin: 0;
    margin-right: 10px;
    margin-top: 60px;
    padding: 0;
  }

  .upload__image-tablet {
    display: block;

    padding: 60px 0;
  }

  .photos__upload-info {
    width: 460px;

    margin: 50px auto;
    padding-bottom: 20px;

    font-size: 18px;
  }

  .upload__wrapper {
    display: flex;
    justify-content: space-between;
    width: 620px;
    height: 520px;

    margin: 0 auto;
    padding: 0;

    border: none;
  }

  .upload__editor {
    width: 300px;

    margin: 0;
    margin-top: 52px;
    margin-left: 20px;
  }
}

@media (min-width: @desktop-width) {
  .upload {
    margin-bottom: 90px;

    background: none;
  }

  .upload__wrapper {
    justify-content: space-around;

    width: 940px;

    margin: 0 auto;
    padding: 0;

    background-color: @color-gray;
  }

  .upload__image {
    display: block;

    width: 300px;
    height: 400px;

    margin-top: 56px;
    margin-left: 80px;
  }

  .upload__editor {
    width: 410px;

    margin: 0;
    margin-top: 52px;
  }

  .photos__upload-info {
    margin: 0 auto;
    margin-bottom: 50px;
  }
}
