@import "blocks/advantages-list.less";
@import "blocks/check-list.less";
@import "blocks/checkbox-list.less";
@import "blocks/contacts.less";
@import "blocks/copyright.less";
@import "blocks/download-list.less";
@import "blocks/editor.less";
@import "blocks/feedback.less";
@import "blocks/forms.less";
@import "blocks/list-photo.less";
@import "blocks/main-nav.less";
@import "blocks/main-photo.less";
@import "blocks/nav.less";
@import "blocks/next-list.less";
@import "blocks/offers-list.less";
@import "blocks/page-header.less";
@import "blocks/price.less";
@import "blocks/social.less";
@import "blocks/upload.less";
@import "mixin.less";
@import "variables.less";


body {
  .indent-clear;

  font-family: "Open Sans", "Arial", sans-serif;
  color: @color-black;
  background-color: @color-white;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}
